﻿@{
    ViewBag.Title = "Login Erreur";
    ViewBag.MessageError = "Votre compte est bloqué ! Merci d'envoyer un mail au service consommateur ";
}

<div class="container" role="alert">
    <h1>@ViewBag.Title</h1>
    <div class="alert alert-danger">
        <strong>@ViewBag.MessageError</strong>
    </div>
</div>