﻿@{
    ViewBag.Title = "Contactez nous";
}
<div class="container">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Quartier Develeppement<br />
       75000 Paris <br />
        <abbr title="Phone">P:</abbr>
        04.05.06.07.08
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>

</div>