﻿@model GoodBurger.Models.Entities.RestaurantEntity
@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="center-align">
        <img class="iconBurger" src="~/Content/img/burger-icon.svg" alt="burger" />
        <h1><span class="go HomeSizeIcon">GO</span><span class="od HomeSizeIcon">OD</span><span class="bu HomeSizeIcon">BU</span><span class="rg HomeSizeIcon">RG</span><span class="er HomeSizeIcon">ER</span></h1>

        <p>
           GoodBuger est un site internet fantastique pour trouver le meilleur burger dans votre ville.<br />
           Faites vous livrer et dégustez votre délicieux burger .
        </p>
        <p><a class="waves-effect waves-light btn-large" href="#" role="button" onclick="window.location='@Url.Action("Index", "Register")'">Inscription</a></p>

    </div>

    <div class="row">
        <div class="col s12 m6">
            <div class="icon-block">
                <h2 class="center light-blue-text"><i class="HomeSizeIcon material-icons" >restaurant_menu</i></h2>
                <h5 class="center">Lorem</h5>

                <p class="light">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux </p>
            </div>
        </div>

  
        <div class="col s12 m6">
            <div class="icon-block">
                <h2 class="center light-blue-text"><i class="HomeSizeIcon material-icons">timelapse</i></h2>
                <h5 class="center">Lorem</h5>

                <p class="light">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux </p>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img class="cityImg" src="~/Content/img/paris.jpg">
                    <span class="card-title">PARIS</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons" onclick="window.location='@Url.Action("AllRestaurant", "Restaurant", new RouteValueDictionary(new { nameTown = "Paris"}))'">add</i></a>
                </div>
                <div class="card-content">
                    <p>  Restaurants à Paris</p>
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img  class="cityImg"  src="~/Content/img/marseille.jpg">
                    <span class="card-title">MARSEILLE</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons" onclick="window.location='@Url.Action("AllRestaurant", "Restaurant", new RouteValueDictionary(new { nameTown = "Marseille"}))'">add</i></a>
                </div>
                <div class="card-content">
                    <p>  Restaurants à Marseille</p>
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img  class="cityImg"  src="~/Content/img/Strasbourg.jpg">
                    <span class="card-title">STRASBOURG</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons" onclick="window.location='@Url.Action("AllRestaurant", "Restaurant", new RouteValueDictionary(new { nameTown = "Strasbourg"}))'">add</i></a>
                </div>
                <div class="card-content">
                    <p>  Restaurants à Strasbourg</p>
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img class="cityImg"  src="~/Content/img/troyes.jpg">
                    <span class="card-title">TROYES</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light orange"><i class="material-icons" onclick="window.location='@Url.Action("AllRestaurant", "Restaurant", new RouteValueDictionary(new { nameTown = "Troyes"}))'">add</i></a>
                </div>
                <div class="card-content">
                    <p>  Restaurants à Troyes</p>
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img class="cityImg" src="~/Content/img/Bordeaux.jpg">
                    <span class="card-title">BORDEAX</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light purple"><i class="material-icons"  onclick="window.location='@Url.Action("AllRestaurant", "Restaurant", new RouteValueDictionary(new { nameTown = "Bordeaux"}))'" >add</i></a>
                </div>
                <div class="card-content">
                    <p>  Restaurants à Bordeaux</p>
                </div>
            </div>
        </div>

    </div>
</div>