﻿@using GoodBurger.Models.Entities
@using GoodBurger.Models.DAL
@{
    ViewBag.Title = "Accueil utilisateur";
    List<RestaurantEntity> Restaurants = ViewData["Restaurants"] as List<RestaurantEntity>;
    List<BurgerEntity> BurgerSuggestion = ViewData["BurgerSuggestion"] as List<BurgerEntity>;
    TownDal Dal = new TownDal();
}


<div class="container">
    <br />
    <h3>Bienvenue  @Model.FirstName</h3>

    @Html.Partial("~/Views/Search/NavBarSearch.cshtml", @ViewData["Tags"])


    @if (BurgerSuggestion.Any())
    {
        <h2>Suggestion Burger :</h2>
        <div class="row">
            @foreach (BurgerEntity Burger in BurgerSuggestion)
            {
                <div class="col s12 m3">
                    <div class="card-image">
                        <img style="width:250px; height:250px;" src="~/Content/img/Burger.jpg">
                    </div>
                    <div class="card-content">
                        <p class="">@Burger.Name</p>
                    </div>

                    <div class="card-footer">
                        <button type="button" class="btn BtnLarger" onclick="window.location='@Url.Action("SeeOneRestaurant", "Restaurant", new RouteValueDictionary(new { idRestaurant = Burger.CurrentIdRestaurant }))'">Voir</button>
                    </div>
                </div>
            }
        </div>
    }
       
    <div class="row">
        <h3>Les Restaurants : </h3>
        @foreach (RestaurantEntity Restaurant in Restaurants)
        {

            <div class="col s12 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="~/Content/img/mythic.jpg">
                    </div>
                    <div class="card-content">
                        <h3 class="text-uppercase">@Restaurant.Name</h3>
                        <p class="">@Restaurant.Address</p>
                        <p class="">@Restaurant.PostalCode</p>
                        <p class="">@Dal.GetCityNameByIdTown(@Restaurant.CurrentIdTown)</p>
                        <p class="">@Restaurant.Email</p>
                        <p class="">@Restaurant.HourMorning</p>
                        <p class="">@Restaurant.HourNight</p>
                    </div>
                    <div class="card-action">
                        @if (@Restaurant.Open == true)
                        {
                            <p>
                                <span class="glyphicon glyphicon-cutlery" style="color:green"><i class="material-icons Medium">lock_open</i></span> Ouvert
                            </p>
                        }
                        else
                        {
                            <p>
                                <span class="glyphicon glyphicon-cutlery" style="color:Red"><i class="material-icons Medium">lock_outline</i></span> Fermé
                            </p>
                        }
                    </div>
                    <div class="card-footer text-muted">
                        <button type="button" class="waves-effect waves-light btn-large BtnLarger" onclick="window.location='@Url.Action("SeeOneRestaurant", "Restaurant", new RouteValueDictionary(new { idRestaurant = Restaurant.RestaurantId }))'">Voir</button>
                    </div>
                </div>
            </div>

        }
    </div>

</div>



