﻿@using GoodBurger.Models.Entities
@using GoodBurger.Models.DAL
@{
    ViewBag.Title = "Manager utilisateur";
    List<UserEntity> AllUsers = ViewData["AllUsers"] as List<UserEntity>;
    TownDal Dal = new TownDal();
}
<div class="container">
    <h2>@ViewBag.Title</h2>
    @if (!AllUsers.Any())
    {
        <div class="alert alert-warning" role="alert">
            <strong> No User register</strong>
        </div>
    }
    else
    {
        <table>
            <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>Adresse</th>
                    <th>Code postal</th>
                    <th>Ville</th>
                    <th>Gestion</th>
                </tr>
            </thead>

                @foreach (UserEntity user in AllUsers)
                {
                    <tbody>
                        <tr>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.Email</td>
                            <td>@user.Phone</td>
                            <td>@user.Address</td>
                            <td>@user.PostalCode</td>
                            <td>@Dal.GetCityNameByIdTown(@user.CurrentTwonId)</td>
                            <td>
                                <button type="button" class="btn  red" onclick="window.location='@Url.Action("Remove", "User", new RouteValueDictionary(new { iduser = user.UserId }))'">Supprimer</button>
                                @if (@user.AccountBlock == false)
                                {
                                    <button type="button" class="btn  blue" onclick="window.location='@Url.Action("Block", "User", new RouteValueDictionary(new { blocked = user.AccountBlock = true, iduser = user.UserId  }))'">Lock account</button>
                                }
                                else
                                {
                                    <button type="button" class="btn  green" onclick="window.location='@Url.Action("UnBlock", "User", new RouteValueDictionary(new { blocked = user.AccountBlock = false, iduser = user.UserId  }))'">Unlock account</button>
                                }

                            </td>
                        </tr>
                    </tbody>
                }
        </table>
    }
</div>
