﻿@model GoodBurger.Models.Entities.UserEntity
@{
    ViewBag.Title = "Profil Utilisateur";
}
<div class="container">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("Update", "User", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row ">
            <div class="col s12">
                <div class="input-field col s12">

                    @Html.Label("First Name")
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", Type = "text" })
                </div>

                <div class="input-field col s12">
            
                    @Html.Label("Last Name")
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", Type = "text" })
                </div>

                <div class="input-field col s12">

                    @Html.Label("Phone")
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", Type = "tel" })
                </div>

                <div class="input-field col s12">
                 
                    @Html.Label("Email")
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", Type = "email" })
                </div>

                <div class="input-field col s12">
                   
                    @Html.Label("Password")
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", Type = "password" })
                </div>

                <div class="input-field col s12">
           
                    @Html.Label("Address")
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", Type = "text" })
                </div>

                <div class="input-field col s12">
      
                    @Html.Label("Postal Code")
                    @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control", Type = "number", step = "1", value = "0", min = "0", max = "99999" })
                </div>
                <br />

                <button type="submit" class="btn blue">Modifier</button>
                <button type="button" class="btn green" onclick="window.location='@Url.Action("Index", "User")'">Annuel</button>
                <button type="button" class="btn red" onclick="window.location='@Url.Action("Delete", "User")'">Supprimer</button>
            </div>
        </div>

    }
</div>
