﻿@model GoodBurger.Models.Entities.DirectorEntity
@{
    ViewBag.Title = "Formulaire modification directeur";
}

<div class="container">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("Update", "Director", new RouteValueDictionary(new { DirectorId = @Model.DirectorId }), FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row ">
            <div class="col s12">
                <div class="input-field col s12">

                    @Html.Label("First Name")
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", Type = "text" })
                </div>

                <div class="input-field col s12">

                    @Html.Label("Last Name")
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", Type = "text" })
                </div>

                <div class="input-field col s12">

                    @Html.Label("Phone")
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", Type = "tel" })
                </div>

                <div class="input-field col s12">

                    @Html.Label("Email")
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", Type = "email" })
                </div>

                <div class="input-field col s12">

                    @Html.Label("Password")
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", Type = "password" })
                </div>

                <div class="input-field col s12">

                    @Html.Label("Address")
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", Type = "text" })
                </div>

                <div class="input-field col s12">

                    @Html.Label("Postal Code")
                    @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control", Type = "number", step = "1", value = "0", min = "0", max = "99999" })
                </div>

                <div class="input-field col s12">

                    @Html.Label("City")
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control", Type = "text" })
                </div>
                <br />
            </div>
        </div>
        <button type="submit" class="btn blue">Valider</button>
        <button type="button" class="btn  red" onclick="window.location='@Url.Action("Index", "Director")'">Annuler</button>
    }
</div>
