﻿@model GoodBurger.Models.Entities.DirectorEntity
@{
    ViewBag.Title = "Formulaire directeur";
}

<div class="container">
    <h2>@ViewBag.Title</h2>

    <div class="alert alert-success" role="alert">
        <p>Attention ajouter le restaurant avant de créer le directeur !</p>
        <p>Vous devez obligatoirement associer un directeur à un restaurant  </p>
    </div>

    @using (Html.BeginForm("Add", "Director", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row ">
            <div class="col s12">
                <div class="input-field col s12">

                    @Html.Label("Nom")
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", Type = "text" })
                </div>

                <div class="input-field col s12">

                    @Html.Label("Prénom")
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", Type = "text" })
                </div>

                <div class="input-field col s12">

                    @Html.Label("Tél")
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", Type = "tel" })
                </div>

                <div class="input-field col s12">

                    @Html.Label("Email")
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", Type = "email" })
                </div>

                <div class="input-field col s12">

                    @Html.Label("Mot de passe")
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", Type = "password" })
                </div>

                <div class="input-field col s12">

                    @Html.Label("Adresse")
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", Type = "text" })
                </div>

                <div class="input-field col s12">

                    @Html.Label("Code postal")
                    @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control", Type = "number", step = "1", value = "0", min = "0", max = "99999" })
                </div>

                <div class="input-field col s12">

                    @Html.Label("Ville")
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control", Type = "text" })
                </div>
                <br />
            </div>
        </div>
        @Html.Partial("~/Views/Restaurant/ListRestaurant.cshtml", @ViewData["AllRestaurant"])
        <button type="submit" class="btn blue">Valider</button>
        <button type="button" class="btn  red" onclick="window.location='@Url.Action("Index", "Director")'">Annuler</button>
    }
</div>
