﻿@model GoodBurger.Models.Entities.DirectorEntity

@{
    ViewBag.Title = "Connexion du directeur";
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    @using (Html.BeginForm("Login", "Director", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row ">
            <div class="col s12">
                <div class="input-field">
             
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", Type = "email" })
                </div>
                <div class="input-field">
         
                    @Html.LabelFor(m => m.Password)
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", Type = "password" })
                </div>
                <button type="submit" class="btn btn-primary">Valider</button> <button type="button" class="btn btn-outline-success" onclick="window.location='@Url.Action("Index", "Home")'">Accueil</button>
            </div>
         </div>
    }


</div>