﻿@using GoodBurger.Models.Entities
@using GoodBurger.Models.DAL
@{
    ViewBag.Title = "Tableau de bord";
    List<DrinkEntity> StockWarningDrink = ViewData["StockWarningDrink"] as List<DrinkEntity>;
    List<BurgerEntity> StockWarningBurger = ViewData["StockWarningBurger"] as List<BurgerEntity>;

    List<DrinkEntity> AllDrinks = ViewData["Drinks"] as List<DrinkEntity>;
    List<BurgerEntity> AllBurgers = ViewData["Burgers"] as List<BurgerEntity>;
    List<OrderEntity> AllOrdes = ViewData["Orders"] as List<OrderEntity>;

    float SumOrder = 0;
}

<div class="container">

    <h2>@ViewBag.Title</h2>


    <div>
        <h4>Information Génériques : </h4>
        <table>
            <thead>
                <tr>
                    <th>Nombre de commande engeristrée </th>
                    <th>Montant cumulé des commandes</th>
                    <th>Nombre de burger enregistré</th>
                    <th>Nombre de boisson enregistrée</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td> @AllOrdes.Count</td>
                    <td>
                        @foreach (OrderEntity Order in AllOrdes)
                        {
                            SumOrder += Order.SumOrder;
                        }
                        @SumOrder
                    </td>
                    <td>@AllBurgers.Count</td>
                    <td>@AllDrinks.Count </td>
                </tr>

            </tbody>
        </table>

    </div>

    <div>
        <h4>les commandes :  </h4>
        <table>

            <thead>
                <tr>
                    <th>Toutes</th>
                    <th>Du mois en cour </th>
                    <th>De la journée</th>

                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        <button type="button" class="btn" onclick="window.location='@Url.Action("SeeAllOrder", "Order", new RouteValueDictionary(new { allOrder = true }))'">Toutes </button>
                    </td>
                   
                    <td>
                        <button type="button" class="btn" onclick="window.location='@Url.Action("SeeAllOrder", "Order", new RouteValueDictionary(new { monthOrder = true }))'">Du mois en cour </button>
                    </td>
                    <td>
                        <button type="button" class="btn" onclick="window.location='@Url.Action("SeeAllOrder", "Order", new RouteValueDictionary(new { day = true }))'">De la journée</button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>



    @if (StockWarningDrink != null)
    { 
        <div class="card-panel grey lighten-3">
            @foreach (DrinkEntity Drink in StockWarningDrink)
            {
                <hr />
                <p>Boisson : @Drink.Name</p>
                <p class="text-warning">Stock restant : @Drink.Stock</p>
                <button type="button" class="btn btn-success" onclick="window.location='@Url.Action("FormUpdateDrink", "Drink", new RouteValueDictionary(new { DrinkId = Drink.DrinkId }))'">Update</button>
            }
        </div>
    }
    else
    {
        <div class="card-panel grey lighten-3">
            <h4>Vos stock de boisson dépasse les 20 unités pour tous vos produit ! </h4>
            <strong> Cependant soyez à l'affût des futurs manques possible ! </strong>
        </div>
    }

    @if (StockWarningBurger != null)
    {

        <div class="card-panel grey lighten-3">
            @foreach (BurgerEntity Burger in StockWarningBurger)
            {
      
                <p>Burger : @Burger.Name</p>
                <p class="text-warning">Stock restant : @Burger.Stock</p>
                <button type="button" class="btn btn-success" onclick="window.location='@Url.Action("FormUpdateBurger", "Burger", new RouteValueDictionary(new { BurgerId = Burger.BurgerId }))'">Update</button>
            }
        </div>
    }
    else
    {
        <div class="card-panel grey lighten-3">
            <h4>Vos stock de burger dépasse les 20 unités pour tous vos produit !</h4>
            <strong>Cependant soyez à l'affut des futurs manques possible !</strong>
        </div>
    }
</div>