﻿@model GoodBurger.Models.Entities.DirectorEntity
@using GoodBurger.Models.Entities
@{
    ViewBag.Title = "Director Restaurant";
    List<DirectorEntity> AllOwners = ViewData["AllOwner"] as List<DirectorEntity>;
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    <div>
        <button type="button" class="btn btn-primary" onclick="window.location='@Url.Action("FormAddDirector", "Director")'">Ajouter un directeur</button>
    </div>
    @if (!AllOwners.Any())
    {
        <div class="alert alert-warning" role="alert">
            <strong> No Director Register</strong>
        </div>
    }
    else
    {
        <table>
            <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>Adresse</th>
                    <th>Code postal</th>
                    <th>Ville</th>
                    <th>Gestion</th>
                </tr>
            </thead>

            @foreach (DirectorEntity Director in AllOwners)
            {
                <tbody>
                    <tr>
                        <td>@Director.LastName</td>
                        <td>@Director.FirstName</td>
                        <td>@Director.Email</td>
                        <td>+33 @Director.Phone</td>
                        <td>@Director.Address</td>
                        <td>@Director.PostalCode</td>
                        <td>@Director.City</td>
                        <td>
                            <button type="button" class="btn  red" onclick="window.location='@Url.Action("Remove", "Director", new RouteValueDictionary(new { DirectorId = Director.DirectorId }))'">Suprimer</button>
                            <button type="button" class="btn  blue" onclick="window.location='@Url.Action("FormUpdateDirector", "Director", new RouteValueDictionary(new { DirectorId = Director.DirectorId }))'">Modifier</button>
                        </td>

                    </tr>
                </tbody>

            }
        </table>
  
    }
</div>