﻿@model System.Collections.Generic.List<DirectorEntity>
@using GoodBurger.Models.Entities
@{
    List<DirectorEntity> AllOwner = ViewData["AllOwner"] as List<DirectorEntity>;
}

<div class="list-group">

    <fieldset>
        <legend>Selectionner le directeur (Resposable) du restaurant :</legend>
        @foreach (DirectorEntity Director in AllOwner)
        {
        <div>
            <input type="radio" id="Director" name="Director" value="@Director.DirectorId">
            <label for="coding">@Director.FirstName @Director.LastName </label>
            <label for="coding">@Director.Email @Director.Phone</label>
        </div>

        }
    </fieldset>
</div>

