﻿
@model GoodBurger.Models.Entities.TownEntity
@{
    ViewBag.Title = "Ajouter ville";
}
<div class="container">
    <h2>@ViewBag.Title</h2>
    @using (Html.BeginForm("Add", "Town", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col s12 m3">
                <div class="input-field col s12">
                    @Html.LabelFor(m => m.City)
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control", Type = "text" })
                </div>

                <div class="input-field col s12">
                    @Html.LabelFor(m => m.Country)
                    @Html.TextBoxFor(m => m.Country, new { @class = "form-control", Type = "text" })
                </div>

                <button type="submit" class="btn btn-primary">Valider</button>
                <button type="button" class="btn btn-danger" onclick="window.location='@Url.Action("Index", "Town")'">Annuler</button>
            </div>
        </div>
    }
</div>

