﻿@using GoodBurger.Models.Entities
@{
    ViewBag.Title = "Villes";
    List<TownEntity> tonws = ViewData["AllTowns"] as List<TownEntity>;
}
<div class="container">
    <h2>@ViewBag.Title</h2>
    <div>
        <button type="button" class="btn btn-primary" onclick="window.location='@Url.Action("FormAdd", "Town")'">Ajouter une ville</button>
    </div>

    <table>
        <thead>
            <tr>
                <th>Ville</th>
                <th>Pays</th>
                <th>Gestion</th>
            </tr>
        </thead>

            @foreach (TownEntity town in tonws)
            {
                <tbody>
                    <tr>
                        <td>@town.City</td>
                        <td>@town.Country</td>
                        <td>
                            <button type="button" class="btn  red" onclick="window.location='@Url.Action("Remove", "Town", new RouteValueDictionary(new { TownId = town.TownId }))'">Supprimer</button>
                            <button type="button" class="btn  blue" onclick="window.location='@Url.Action("FormUpdate", "Town", new RouteValueDictionary(new { TownId = town.TownId }))'">Modifer</button>
                        </td>
                    </tr>
                </tbody>
            }
   </table>
 

</div>
