﻿@model GoodBurger.Models.Entities.UserEntity

@{
    ViewBag.Title = "Se connecter";
   
}

<div class="container">
    <h2>@ViewBag.Title </h2>

@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
@Html.AntiForgeryToken()
      
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="input-field col s12">
             
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", Type = "email" })
                </div>
                <div class="input-field col s12">
            
                    @Html.LabelFor(m => m.Password)
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", Type = "password" })
                </div>
                <button type="submit" class="btn btn-primary">Valider</button> <button type="button" class="btn btn-outline-success" onclick="window.location='@Url.Action("Index", "Home")'">Accueil</button>
            </div>
        </div>
    </div>
}

</div>
