﻿@model GoodBurger.Models.Entities.DrinkEntity
@{
    ViewBag.Title = "Ajouter boisson";
}

<div class="container">
    <h2>@ViewBag.Title </h2>
    @using (Html.BeginForm("Add", "Drink", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
         
                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", Type = "text" })
                    </div>

                    <div class="input-field col s12">
              
                        @Html.LabelFor(m => m.QuantityCentiliter)
                        @Html.TextBoxFor(m => m.QuantityCentiliter, new { @class = "form-control", Type = "number" })
                    </div>

                    <div class="input-field col s12">
    
                        @Html.LabelFor(m => m.ImageUrl)
                        @Html.TextBoxFor(m => m.ImageUrl, new { @class = "form-control", Type = "text" })
                    </div>

                    <div class="input-field col s12">
                
                        @Html.LabelFor(m => m.Stock)
                        @Html.TextBoxFor(m => m.Stock, new { @class = "form-control", Type = "number" })
                    </div>


                    <div class="input-field col s12">
                   
                        @Html.LabelFor(m => m.Price)
                        @Html.TextBoxFor(m => m.Price, new { @class = "form-control", Type = "number" })
                    </div>

                    <button type="submit" class="btn  blue">Valider</button>
                    <button type="button" class="btn  red" onclick="window.location='@Url.Action("Index", "Drink")'">Annuler</button>
                   
                </div>
            </div>
        </div>
    }
</div>

