﻿@using GoodBurger.Models.Entities
@model GoodBurger.Models.Entities.DrinkEntity
@{
    ViewBag.Title = "Manager Drink";
    List<DrinkEntity> AllDrinks = ViewData["AllDrinks"] as List<DrinkEntity>;
}
<div class="container">
    <h2>@ViewBag.Title</h2>
    <div>
        <button type="button" class="btn btn-default" onclick="window.location='@Url.Action("FormAddDrink", "Drink")'">Ajouter une boisson</button>
    </div>
    <br />
    @if (!AllDrinks.Any())
    {
        <div class="alert alert-warning" role="alert">
            <strong>Pas de boisson enregistrée</strong>
        </div>
    }
    else
    {


        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Format</th>
                    <th>stock</th>
                    <th>Gestion</th>
                </tr>
            </thead>


            @foreach (DrinkEntity Drink in AllDrinks)
            {
                <tbody>
                    <tr>
                        <td>@Drink.Name</td>
                        <td>@Drink.QuantityCentiliter cl</td>
                        <td> @Drink.Stock</td>
                        <td>
                            <button type="button" class="btn  red" onclick="window.location='@Url.Action("Remove", "Drink", new RouteValueDictionary(new { DrinkId = Drink.DrinkId }))'">Supprimer</button>
                            <button type="button" class="btn  blue" onclick="window.location='@Url.Action("FormUpdateDrink", "Drink", new RouteValueDictionary(new { DrinkId = Drink.DrinkId }))'">Modifier</button>
                        </td>
                    </tr>
                </tbody>

            }
        </table>

   
    }

</div>