﻿@using GoodBurger.Models.Entities
@using GoodBurger.Models.DAL
@{
    ViewBag.Title = "User Home";
    List<RestaurantEntity> Restaurants = ViewData["Restaurants"] as List<RestaurantEntity>;
    List<TagEntity> Tags = ViewData["Tags"] as List<TagEntity>;
    List<RestaurantEntity> ResultSearch = ViewData["Result"] as List<RestaurantEntity>;
    TownDal Dal = new TownDal();
}
<div class="container">
    <h3>Resulta recherche : </h3>
    @Html.Partial("~/Views/Search/NavBarSearch.cshtml", @ViewData["Tags"])

    @if (ResultSearch != null)
    {

        <div class="row">
            <h3>Les Restaurants : </h3>
            @foreach (RestaurantEntity Restaurant in ResultSearch)
            {

                <div class="col s12 m3">
                    <div class="card">
                        <div class="card-image">
                            <img src="~/Content/img/mythic.jpg">
                        </div>
                        <div class="card-content">
                            <h3 class="text-uppercase">@Restaurant.Name</h3>
                            <p class="">@Restaurant.Address</p>
                            <p class="">@Restaurant.PostalCode</p>
                            <p class="">@Dal.GetCityNameByIdTown(@Restaurant.CurrentIdTown)</p>
                            <p class="">@Restaurant.Email</p>
                            <p class="">@Restaurant.HourMorning</p>
                            <p class="">@Restaurant.HourNight</p>
                        </div>
                        <div class="card-action">
                            @if (@Restaurant.Open == true)
                            {
                                <p>
                                    <span class="glyphicon glyphicon-cutlery" style="color:green"><i class="material-icons Medium">lock_open</i></span> Ouvert
                                </p>
                            }
                            else
                            {
                                <p>
                                    <span class="glyphicon glyphicon-cutlery" style="color:Red"><i class="material-icons Medium">lock_outline</i></span> Fermé
                                </p>
                            }
                        </div>
                        <div class="card-footer text-muted">
                            <button type="button" class="waves-effect waves-light btn-large BtnLarger" onclick="window.location='@Url.Action("SeeOneRestaurant", "Restaurant", new RouteValueDictionary(new { idRestaurant = Restaurant.RestaurantId }))'">Voir</button>
                        </div>
                    </div>
                </div>

            }
        </div>
    }
    else
    {
        <div class="row">
            @foreach (RestaurantEntity RestaurantResult in Restaurants)
            {
                <div class="col s12 m3">
                    <div class="card">
                        <div class="card-image">
                            <img src="~/Content/img/mythic.jpg">
                        </div>
                        <div class="card-content">
                            <h3 class="text-uppercase">@RestaurantResult.Name</h3>
                            <p class="">@RestaurantResult.Address</p>
                            <p class="">@RestaurantResult.PostalCode</p>
                            <p class="">@Dal.GetCityNameByIdTown(@RestaurantResult.CurrentIdTown)</p>
                            <p class="">@RestaurantResult.Email</p>
                            <p class="">@RestaurantResult.HourMorning</p>
                            <p class="">@RestaurantResult.HourNight</p>
                        </div>
                        <div class="card-action">
                            @if (@RestaurantResult.Open == true)
                            {
                                <p>
                                    <span class="glyphicon glyphicon-cutlery" style="color:green"><i class="material-icons Medium">lock_open</i></span> Ouvert
                                </p>
                            }
                            else
                            {
                                <p>
                                    <span class="glyphicon glyphicon-cutlery" style="color:Red"><i class="material-icons Medium">lock_outline</i></span> Fermé
                                </p>
                            }
                        </div>
                        <div class="card-footer text-muted">
                            <button type="button" class="btn BtnLarger" onclick="window.location='@Url.Action("SeeOneRestaurant", "Restaurant", new RouteValueDictionary(new { idRestaurant = RestaurantResult.RestaurantId }))'">Voir</button>
                        </div>
                    </div>
                </div>
            }   
        </div>
    }
</div>


