﻿@using GoodBurger.Models.Entities
@{
 List<TagEntity> Tags = ViewData["Tags"] as List<TagEntity>;

}
<div id="searchbar">
    <form class="form-inline" method="post" action="@Url.Action("Search", "Search")">
        <select class="browser-default"  id="myTag" name="myTag">

            @foreach (TagEntity Tag in Tags)
            {
                <option value="@Tag.TagId">@Tag.Name</option>
            }
        </select>
        <input class="btn" type="submit" id="search" name="search" value="Rechercher">
        <button class="btn" type="button"  id="reset" name="reset" onclick="window.location='@Url.Action("ResetSearch", "Search")'">
            Réinitialiser
        </button>    
    </form>
</div>
