﻿@model GoodBurger.Models.Entities.BurgerEntity
@using GoodBurger.Models.Entities
@{
    ViewBag.Title = "Form Add Burger";

}
<div class="container">
    <h2>@ViewBag.Title </h2>

    @using (Html.BeginForm("AddBurger", "Burger", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
           
                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", Type = "text" })
                    </div>
                    <div class="input-field col s12">
                  
                        @Html.LabelFor(m => m.Stock)
                        @Html.TextBoxFor(m => m.Stock, new { @class = "form-control", Type = "number" })
                    </div>
                    <div class="input-field col s12">
    
                        @Html.LabelFor(m => m.Price)
                        @Html.TextBoxFor(m => m.Price, new { @class = "form-control", Type = "number", step = "0.01" })
                    </div>
                    <div class="input-field col s12">
    
                        @Html.TextBoxFor(m => m.ImageUrl, new { @class = "form-control-file", Type = "file" })
                    </div>

                </div>
                <button type="submit" class="btn blue">Valider</button>
                <button type="button" class="btn red" onclick="window.location='@Url.Action("ManagerRestaurant", "Restaurant")'">Annuler</button>
            </div>
        </div>

        @Html.Partial("~/Views/Ingredient/ListIngredients.cshtml", @ViewData["AllIngredients"])
        @Html.Partial("~/Views/Tag/CheckListTag.cshtml", @ViewData["AllTags"])

   

    }
</div>


