﻿@model GoodBurger.Models.Entities.BurgerEntity
@using GoodBurger.Models.Entities
@using GoodBurger.Models.DAL
@{
    ViewBag.Title = "Mettre à jour le burger";
    TagDal DalTag = new TagDal();
}

<div class="container">
    <h2>@ViewBag.Title </h2>

    @using (Html.BeginForm("Update", "Burger", new RouteValueDictionary(new { BurgerId = @Model.BurgerId }), FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
            
                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", Type = "text" })
                    </div>
                    <div class="input-field col s12">
                
                        @Html.LabelFor(m => m.Stock)
                        @Html.TextBoxFor(m => m.Stock, new { @class = "form-control", Type = "number" })
                    </div>
                    <div class="input-field col s12">
        
                        @Html.LabelFor(m => m.Price)
                        @Html.TextBoxFor(m => m.Price, new { @class = "form-control", Type = "number", step = "0.01" })
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">image</i>
                        @Html.TextBoxFor(m => m.ImageUrl, new { @class = "form-control-file", Type = "file" })
                    </div>

                </div>
                <div class="list-group ">
                    <fieldset>
                        <legend>Tag du burger :</legend>
                        @foreach (TagInBurgerEntity Tag in Model.TagsInBurgers)
                        {
                            <div>
                                <button type="button" class="btn btn-danger btn-sm" onclick="window.location='@Url.Action("RemoveTagBurger", "Tag", new RouteValueDictionary(new { Tagid = Tag.TagId , BurgerId = Tag.BurgerId }))'">Supprimer Tag : #@DalTag.GetTagNameByIdTag(@Tag.TagId)</button>
                            </div>


                        }
                    </fieldset>
                </div>

                <button type="submit" class="btn  blue">Valider</button>
                <button type="button" class="btn  red" onclick="window.location='@Url.Action("Index", "Burger")'">Annuler</button>
            </div>
        </div>

    }
</div>

