﻿@model System.Collections.Generic.List<BurgerEntity>
@using GoodBurger.Models.Entities
@{
    ViewBag.Title = "Manager Burger";
    List<BurgerEntity> AllBurgers = ViewData["AllBurgers"] as List<BurgerEntity>;
}

<div class="container">
    <h2>@ViewBag.Title</h2>


    <button type="button" class="btn btn-default" onclick="window.location='@Url.Action("FormAddBurger", "Burger")'">Ajouter un burger</button>

    @if (!AllBurgers.Any())
    {
        <div class="card-panel red" role="alert">
            <strong> Pas de burger enregistré dans votre restaurant </strong>
        </div>
    }
    else
    {

        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Stock</th>
                    <th>Prix</th>
                    <th>Gestion</th>
                </tr>
            </thead>


            @foreach (BurgerEntity Burger in AllBurgers)
            {
                <tbody>
                    <tr>
                        <td>@Burger.Name</td>
                        <td> @Burger.Stock cl</td>
                        <td>@Burger.Price €</td>
                      
                        <td>
                            <button type="button" class="btn  red" onclick="window.location='@Url.Action("Remove", "Burger", new RouteValueDictionary(new { BurgerId = Burger.BurgerId }))'">Supprimer</button>
                            <button type="button" class="btn  blue" onclick="window.location='@Url.Action("FormUpdateBurger", "Burger", new RouteValueDictionary(new { BurgerId = Burger.BurgerId }))'">Modifier</button>
                        </td>
                    </tr>
                </tbody>

            }
        </table>

        
    }
</div>
