﻿@model GoodBurger.Models.Entities.AdministratorEntity
@{
    ViewBag.Title = "Ajouter administrateur";
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    @using (Html.BeginForm("AddAdmin", "Admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">

                        @Html.Label("First Name")
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", Type = "text" })
                    </div>
                    <div class="input-field col s12">

                        @Html.Label("Last Name")
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", Type = "text" })
                    </div>
                   
                    <div class="input-field col s12">

                        @Html.Label("Phone")
                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", Type = "tel" })
                    </div>
                    <div class="input-field col s12">

                        @Html.Label("Email")
                        @Html.TextBoxFor(m => m.EmailAdmin, new { @class = "form-control", Type = "email" })
                    </div>
                    <div class="input-field col s12">

                        @Html.Label("Password")
                        @Html.TextBoxFor(m => m.PasswordAdmin, new { @class = "form-control", Type = "password" })
                    </div>
                    <div class="input-field col s12">

                        @Html.DropDownListFor(model => model.Role, new SelectList(new[] { "full", "restrict" }), new { @class = "browser-default" })
                    </div>
                    <button type="submit" class="btn btn-primary">Valider</button>
                    <button type="button" class="btn red" onclick="window.location='@Url.Action("ManagerAdmin", "Admin")'">Annuler</button>
                </div>
            </div>
        </div>
    }

</div>

