﻿@model GoodBurger.Models.Entities.AdministratorEntity
@using GoodBurger.Models.Entities
@{
    ViewBag.Title = "Tableau de bord Administrateur";
    List<UserEntity> Users = ViewData["Users"] as List<UserEntity>;
    List<OrderEntity> Orders = ViewData["Orders"] as List<OrderEntity>;
    int nbrAccountBlock = 0;
    float SumOrders = 0;
}

<div class="container">
    <h1>@ViewBag.Title</h1>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Nombre d'utilisateurs de l'application</th>
                    <th>Nombre d'utilisateurs Bloqué</th>
                    <th>Nombre de commande </th>
                    <th> Chiffre affaire de toutes les ventes</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>@Users.Count</td>
                    <td>@nbrAccountBlock</td>
                    <td>@Orders.Count</td>
                    <td>@SumOrders € </td>
                </tr>

            </tbody>
        </table>

    </div>


</div>


