﻿@model GoodBurger.Models.Entities.AdministratorEntity

@{
    ViewBag.Title = "Login administrateur";
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    @using (Html.BeginForm("Login", "Admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        @Html.LabelFor(m => m.EmailAdmin)
                        @Html.TextBoxFor(m => m.EmailAdmin, new { @class = "form-control", Type = "email" })
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">rate_review</i>
                        @Html.LabelFor(m => m.PasswordAdmin)
                        @Html.TextBoxFor(m => m.PasswordAdmin, new { @class = "form-control", Type = "password" })
                    </div>
                    <button type="submit" class="btn btn-primary">Valider</button> 
                    <button type="button" class="btn btn-outline-success" onclick="window.location='@Url.Action("Index", "Home")'">Accueil</button>
                </div>
            </div>
        </div>
    }

</div>
