﻿@using GoodBurger.Models.Entities
@{
    ViewBag.Title = "Manager Administrateur";
    List<AdministratorEntity> Admins = ViewData["AllAdminUser"] as List<AdministratorEntity>;
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    <button type="button" class="btn" onclick="window.location='@Url.Action("FormUserAdmin", "Admin")'">Ajouter administrateur</button>

    @if (!Admins.Any())
    {
        <div class="card-panel red light-red">
            Pas Administrateur enregistré !
        </div>
    }
    else
    {
        <table>
            <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Tél</th>
                    <th>Rôle</th>
                    <th>Gestion</th>
                </tr>
            </thead>

           
                @foreach (AdministratorEntity Admin in Admins)
                {
                    <tbody>
                        <tr>
                            <td>@Admin.FirstName</td>
                            <td> @Admin.LastName</td>
                            <td>@Admin.EmailAdmin</td>
                            <td>@Admin.Phone</td>
                            <td>@Admin.Role</td>
                            <td>
                                <button type="button" class="btn  blue" onclick="window.location='@Url.Action("FormUpdate", "Admin",new RouteValueDictionary(new { idadmin = @Admin.AdministratorId }))'">Modifier</button>
                                <button type="button" class="btn  red" onclick="window.location='@Url.Action("Remove", "Admin" ,new RouteValueDictionary(new { idadmin = @Admin.AdministratorId }))'">Supprimer</button>

                            </td>
                        </tr>
                    </tbody>  
                }
         
        </table>
    }

</div>