﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Good Burger</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
</head>

<body>

    <!--navbar partial view -->
    @{
        Html.RenderPartial("_Navbar");
    }<!--navbar partial view -->


    <div class="container-max body-content">
        @RenderBody()
    </div>

    <!--Footer partial view -->
    @{
        Html.RenderPartial("_Footer");
    }<!--Footer partial view -->

    @Scripts.Render("~/Scripts/js")
</body>
</html>
