﻿
@if (Session["Role"] == null)
{
    <nav>
        <div class="nav-wrapper">
            <a class="brand-logo" onclick="window.location='@Url.Action("Index", "Home")'"> <span class="go">GO</span><span class="od">OD</span><span class="bu">BU</span><span class="rg">RG</span><span class="er">ER</span></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a>@Html.ActionLink("Tous les restaurants", "SeeAllRestaurant", "Restaurant")</a></li>
                <li><a>@Html.ActionLink("Nous contacter", "Contact", "Home")</a></li>
                <li><a>@Html.ActionLink("S'inscrire", "Index", "Register")</a></li>
                <li><a>@Html.ActionLink("Se connecter", "Index", "Login")</a></li>
            </ul>
        </div>
    </nav>
}
else if (Session["Role"] != null && Convert.ToString(Session["Role"]) == "Users")
{
    <nav>
        <div class="nav-wrapper">
            <a class="brand-logo" onclick="window.location='@Url.Action("Index", "Home")'"> <span class="go">GO</span><span class="od">OD</span><span class="bu">BU</span><span class="rg">RG</span><span class="er">ER</span></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a>@Html.ActionLink("Mes commandes", "Index", "Order")</a></li>
                <li><a>@Html.ActionLink("Les restaurants", "Index", "User")</a></li>
                <li><a>@Html.ActionLink("Mon profil", "Profil", "User")</a></li>
                <li><a>@Html.ActionLink("Panier", "Index", "Cart"))</a></li>
                <li><a>@Html.ActionLink("Se déconnecter", "Index", "Logout")</a></li>
            </ul>
        </div>
    </nav>
}

else if (Session["Role"] != null && Convert.ToString(Session["Role"]) == "Admins" && Convert.ToString(Session["RoleAdmin"]) == "full")
{

    <nav>
        <div class="nav-wrapper">
            <a class="brand-logo" onclick="window.location='@Url.Action("Index", "Home")'"> <span class="go">GO</span><span class="od">OD</span><span class="bu">BU</span><span class="rg">RG</span><span class="er">ER</span></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a>@Html.ActionLink("Tableau de bord", "HomeAdmin", "Admin")</a></li>
                <li><a>@Html.ActionLink("Manager Administrateurs", "ManagerAdmin", "Admin")</a></li>
                <li><a>@Html.ActionLink("Manager Restaurants", "Index", "Restaurant")</a></li>
                <li><a>@Html.ActionLink("Manager Directeurs", "Index", "Director")</a></li>
                <li><a>@Html.ActionLink("Manager utilisateurs", "ManagerUser", "User")</a></li>
                <li><a>@Html.ActionLink("Manager villes", "Index", "Town")</a></li>
                <li><a>@Html.ActionLink("Se déconnecter", "Index", "Logout")</a></li>
            </ul>
        </div>
    </nav>


}

else if (Session["Role"] != null && Convert.ToString(Session["Role"]) == "Admins" && Convert.ToString(Session["RoleAdmin"]) == "restrict")
{

    <nav>
        <div class="nav-wrapper">
            <a class="brand-logo" onclick="window.location='@Url.Action("Index", "Home")'"> <span class="go">GO</span><span class="od">OD</span><span class="bu">BU</span><span class="rg">RG</span><span class="er">ER</span></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a>@Html.ActionLink("Tableau de bord", "HomeAdmin", "Admin")</a></li>
                <li><a>@Html.ActionLink("Manager Restaurants", "Index", "Restaurant")</a></li>
                <li><a>@Html.ActionLink("Manager Directeurs", "Index", "Director")</a></li>
                <li><a>@Html.ActionLink("Manager utilisateurs", "ManagerUser", "User")</a></li>
                <li><a>@Html.ActionLink("Manager villes", "Index", "Town")</a></li>
                <li><a>@Html.ActionLink("Se déconnecter", "Index", "Logout")</a></li>
            </ul>
        </div>
    </nav>
}
else if (Session["Role"] != null && Convert.ToString(Session["Role"]) == "Directors")
{

    <nav>
        <div class="nav-wrapper">
            <a class="brand-logo" onclick="window.location='@Url.Action("Index", "Home")'"> <span class="go">GO</span><span class="od">OD</span><span class="bu">BU</span><span class="rg">RG</span><span class="er">ER</span></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a>@Html.ActionLink("Tableau de bord", "HomeDirector", "Director")</a></li>
                <li><a>@Html.ActionLink("Manager Restaurant", "ManagerRestaurant", "Restaurant")</a></li>
                <li><a>@Html.ActionLink("Manager Burgers", "Index", "Burger")</a></li>
                <li><a>@Html.ActionLink("Manager boissons", "Index", "Drink")</a></li>
                <li><a>@Html.ActionLink("Manager Ingredients", "Index", "Ingredient")</a></li>
                <li><a>@Html.ActionLink("Manager Tags", "Index", "Tag")</a>/li>
                <li><a>@Html.ActionLink("Se déconnecter", "Index", "Logout")</a></li>
            </ul>
        </div>
    </nav>

}
