﻿@model GoodBurger.Models.Entities.TagEntity
@{
    ViewBag.Title = "Formulaire Tag";

}
<div class="container">
    <h2>@ViewBag.Title </h2>

    @using (Html.BeginForm("Add", "Tag", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="col m6 offset-m1">
            <div class="">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", Type = "text" })
            </div>
            <button type="submit" class="btn blue">Valider</button>
            <button type="button" class="btn red" onclick="window.location='@Url.Action("Index", "Tag")'">Annuler</button>
        </div>
    }
        <div class="col m6 offset-m1">
            @Html.Partial("~/Views/Tag/ListTag.cshtml", @ViewData["AllTags"])
        </div>
</div>



