﻿@model System.Collections.Generic.List<TagEntity>
@using GoodBurger.Models.Entities
@{
    List<TagEntity> AllTags = ViewData["AllTags"] as List<TagEntity>;
}

<div class="list-group ">
    <fieldset>
        <legend>Vos tags :</legend>
        @foreach (TagEntity Tag  in AllTags)
        {
        <div>
            <label>
                <input type="checkbox" id="Tag" name="Tags[]" value="@Tag.TagId">
                <span>#@Tag.Name</span>
            </label>
        </div>
        }
    </fieldset>
</div>
