﻿@using GoodBurger.Models.Entities
@{
    ViewBag.Title = "Manager Tags";
    List<TagEntity> AllTags = ViewData["AllTags"] as List<TagEntity>;
 }

<div class="container">
    <h2>@ViewBag.Title</h2>
    <div>
        <button type="submit" class="btn btn-primary" onclick="window.location='@Url.Action("Add", "Tag")'">Ajouter Tag</button>
    </div>
    @if (!AllTags.Any())
    {
        <div class="card-panel blue">
            <strong> Aucun tag enregistrer</strong>
        </div>
    }
    else
    {

        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Gestion</th>
                </tr>
            </thead>

            @foreach (TagEntity Tag in AllTags)
            {
                <tbody>
                    <tr>
                        <td>#@Tag.Name</td>
                        <td>
                            <button type="button" class="btn BtnLarger red" onclick="window.location='@Url.Action("Remove", "Tag", new RouteValueDictionary(new { Tagid = Tag.TagId }))'">Supprimer</button>
                        </td>
                    </tr>
                </tbody>

            }
        </table>

 
    }
</div>
