﻿@model System.Collections.Generic.List<TagEntity>
@using GoodBurger.Models.Entities
@{
    List<TagEntity> AllTags = ViewData["AllTags"] as List<TagEntity>;
}

<div class="list-group ">
    <br />
    <fieldset>
        <legend>Les tags</legend>
        <br />
        @foreach (TagEntity Tag in AllTags)
        {
            <div>
                <label for="coding">#@Tag.Name</label>
            </div>
        }
    </fieldset>
</div>
