﻿@model System.Collections.Generic.List<TagEntity>
@using GoodBurger.Models.Entities
@{
    List<TagEntity> AllTags = ViewData["AllTags"] as List<TagEntity>;
}

<div class="list-group ">
    <fieldset>
        <legend>Tag du burger :</legend>
        @foreach (TagEntity Tag in AllTags)
        {
        <div>
            <label for="coding">#@Tag.Name</label>
            <button type="button" class="btn btn-danger btn-sm" onclick="window.location='@Url.Action("RemoveTagBurger", "Tag", new RouteValueDictionary(new { Tagid = Tag.TagId }))'">Supprimer Tag</button>
        </div>  
        }
    </fieldset>
</div>

