﻿@model GoodBurger.Models.Entities.UserEntity
@using GoodBurger.Models.Entities
@{
    ViewBag.Title = "Inscription";
    List<TownEntity> towns = ViewData["AllTown"] as List<TownEntity>;
}

<div class="container">

    <h2> @ViewBag.Title</h2>

    @using (Html.BeginForm("Register", "Register", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="row ">
            <div class="col s12">
                    <div class="input-field col s12">
     
                        @Html.Label("First Name")
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", Type = "text" })
                    </div>

                    <div class="input-field col s12">
            
                        @Html.Label("Last Name")
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", Type = "text" })
                    </div>

                    <div class="input-field col s12">
                      
                        @Html.Label("Phone")
                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", Type = "tel" })
                    </div>

                    <div class="input-field col s12">

                        @Html.Label("Email")
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", Type = "email" })
                    </div>

                    <div class="input-field col s12">
                 
                        @Html.Label("Password")
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", Type = "password" })
                    </div>

                    <div class="input-field col s12">
      
                        @Html.Label("Address")
                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control", Type = "text" })
                    </div>

                    <div class="input-field col s12">
                       
                        @Html.Label("Postal Code")
                        @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control", Type = "number", step = "1", value = "0", min = "0", max = "99999" })
                    </div>

                    <div class="input-field col s12">
                        @Html.DropDownListFor(m => m.Town, new SelectList(towns, "TownId", "City"), new { @class = "browser-default" })
                    </div>
                    <br />
  
                    <button type="submit" class="btn waves-effect waves-light"><i class="material-icons prefix">send</i></button>
            </div>
        </div>

    }
</div>
