﻿@model GoodBurger.Models.Entities.RestaurantEntity
@using GoodBurger.Models.Entities
@{
    ViewBag.Title = "Formulaire restaurant";
    List<TownEntity> towns = ViewData["AllTown"] as List<TownEntity>;
}
<div class="container">
    <h2>@ViewBag.Title</h2>

  

    @using (Html.BeginForm("Add", "Restaurant", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="input-field col s12">

                    @Html.Label("Nom")
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", Type = "text" })
                </div>
                <div class="input-field col s12">

                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", Type = "text" })
                </div>
                <div class="input-field col s12">

                    @Html.Label("Téléphone")
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", Type = "tel" })
                </div>
                <div class="input-field col s12">

                    @Html.Label("Adresse")
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", Type = "text" })
                </div>
                <div class="input-field col s12">

                    @Html.Label("Code postal")
                    @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control", Type = "number", step = "1", value = "0", min = "0", max = "99999" })
                </div>
                <div class="input-field col s12">
                    @Html.DropDownListFor(m => m.Town, new SelectList(towns, "TownId", "City"), new { @class = "browser-default" })
                </div>
                <br />
                <br />
                <div class="input-field col s12">

                    @Html.Label("Heure ouverture matin")
                    @Html.TextBoxFor(m => m.HourMorning, new { @class = "form-control", Type = "text" })
                </div>
                <div class="input-field col s12">

                    @Html.Label("Heure ouverture soir")
                    @Html.TextBoxFor(m => m.HourNight, new { @class = "form-control", Type = "text" })
                </div>
                <button type="submit" class="btn">Valider</button>
                <button type="button" class="btn  red" onclick="window.location='@Url.Action("Index", "Restaurant")'">Annuler</button>
            </div>
        </div>
    </div>
    }
</div>

