﻿
@model GoodBurger.Models.Entities.RestaurantEntity
@using GoodBurger.Models.Entities
@{
    ViewBag.Title = "Modifier restaurant";
    List<TownEntity> towns = ViewData["AllTown"] as List<TownEntity>;
}

<div class="container">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("Update", "Restaurant", new RouteValueDictionary(new { idRestaurant = @Model.RestaurantId }), FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
        
                        @Html.Label("Nom")
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", Type = "text" })
                    </div>
                    <div class="input-field col s12">
          
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", Type = "text" })
                    </div>
                    <div class="input-field col s12">
       
                        @Html.Label("Téléphone")
                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", Type = "tel" })
                    </div>
                    <div class="input-field col s12">
                    
                        @Html.Label("Adresse")
                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control", Type = "text" })
                    </div>
                    <div class="input-field col s12">
                  
                        @Html.Label("Code postal")
                        @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control", Type = "number", step = "1", value = "0", min = "0", max = "99999" })
                    </div>
                    <div class="input-field col s12">
                        @Html.DropDownListFor(m => m.Town, new SelectList(towns, "TownId", "City"), new { @class = "browser-default" })
                    </div>
                    <br />
                    <br />
                    <div class="input-field col s12">
                    
                        @Html.Label("Heure ouverture matin (Format : 12h30 à 14h30)")
                        @Html.TextBoxFor(m => m.HourMorning, new { @class = "form-control", Type = "text" })
                    </div>
                    <div class="input-field col s12">
                        
                        @Html.Label("Heure ouverture soir (Format : 18h30 à 22h30)")
                        @Html.TextBoxFor(m => m.HourNight, new { @class = "form-control", Type = "text" })
                    </div>
                    @if (Session["Role"] != null && Session["Role"] == "Admins")
                    {
                    <button type="submit" class="btn  blue">Modifer</button>
                    <button type="button" class="btn  red" onclick="window.location='@Url.Action("Index", "Restaurant")'">Annuler</button>
                    }
                    else
                    {
                    <button type="submit" class="btn  blue">Modifer</button>
                    <button type="button" class="btn  red" onclick="window.location='@Url.Action("ManagerRestaurant", "Restaurant")'">Annuler</button>
                    }
                </div>
            </div>
        </div>

     

    }
</div>
