﻿@using GoodBurger.Models.Entities
@using GoodBurger.Models.DAL
@{
    ViewBag.Title = "Manage restaurant";
    List<RestaurantEntity> AllRestaurant = ViewData["AllRestaurant"] as List<RestaurantEntity>;
    TownDal Dal = new TownDal();
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    <div>
        <button type="submit" class="btn btn-primary" onclick="window.location='@Url.Action("FormRestaurant", "Restaurant")'">Ajouter un restaurant</button>
    </div>
    <br />
    @if (!AllRestaurant.Any())
    {
        <div class="alert alert-warning" role="alert">
            <strong> No restaurant register</strong>
        </div>
    }
    else
    {

        <table>
            <thead>
                <tr>
                    <th>Nom restaurant</th>
                    <th>Adresse</th>
                    <th>Code postal</th>
                    <th>Ville</th>
                    <th>Email</th>
                    <th>Heure ouvert midi</th>
                    <th>heure ouvert soir</th>
                    <th>Gestion</th>
                </tr>
            </thead>
            @foreach (RestaurantEntity restaurant in AllRestaurant)
            {
                <tbody>
                    <tr>
                        <td>@restaurant.Name </td>
                        <td>@restaurant.Address</td>
                        <td>@restaurant.PostalCode</td>
                        <td>@Dal.GetCityNameByIdTown(@restaurant.CurrentIdTown)</td>
                        <td>@restaurant.Email</td>
                        <td>@restaurant.HourMorning</td>
                        <td>@restaurant.HourNight</td>
                        <td>
                            <button type="button" class="btn red" onclick="window.location='@Url.Action("Remove", "Restaurant", new RouteValueDictionary(new { idRestaurant = restaurant.RestaurantId }))'">Supprimer</button>
                            <button type="button" class="btn blue" onclick="window.location='@Url.Action("FormUpdate", "Restaurant", new RouteValueDictionary(new { idRestaurant = restaurant.RestaurantId }))'">Modifier</button>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    }

</div>
