﻿@using GoodBurger.Models.Entities
@using GoodBurger.Models.DAL
@{
    List<RestaurantEntity> AllRestaurant = ViewData["AllRestaurant"] as List<RestaurantEntity>;
    TownDal Dal = new TownDal();
}

<div class="list-group">

    <fieldset>
        <legend>Selectionner le restaurant du responsable :</legend>
        @foreach (RestaurantEntity Resto in AllRestaurant)
        {
        <div>
            <p>
                <label>
                    <input type="radio" id="IdRestaurant" name="IdRestaurant" value="@Resto.RestaurantId" checked>
                    <span>@Resto.Name  </span>
                    <span> @Dal.GetCityNameByIdTown(@Resto.CurrentIdTown)</span>
                    <span>@Resto.Address @Resto.PostalCode</span>
                </label>
            </p>

        </div>

        }
    </fieldset>
</div>


