﻿@model GoodBurger.Models.Entities.RestaurantEntity
@{
    ViewBag.Title = "Manager Restaurant";
}

<div class="container">
    <h2>@ViewBag.Title</h2>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Nom </th>
                    <th>Adresse</th>
                    <th>Code postal</th>
                    <th>Téléphone</th>
                    <th>Email</th>
                    <th>Heure midi</th>
                    <th>Heure du soir</th>
                    <th>Ouvert</th>
                    <th>Gestion</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        @Model.Name
                    </td>
                    <td>@Model.Address</td>
                    <td>@Model.PostalCode</td>
                    <td>@Model.Phone</td>
                    <td>@Model.Email</td>
                    <td>@Model.HourMorning<</td>
                    <td>@Model.HourNight</td>
                    <td>
                        @if (@Model.Open == true)
                        {
                            <p>
                                <span class="glyphicon glyphicon-cutlery" style="color:green"></span> Ouvert
                            </p>
                        }
                        else
                        {
                            <p>
                                <span class="glyphicon glyphicon-cutlery" style="color:Red"></span> Fermé
                            </p>
                        }
                    </td>
                    <td>
                        @if (@Model.Open == true)
                        {
                            <button type="button" class="btn blue BtnLarger" onclick="window.location='@Url.Action("Close", "Restaurant")'">Fermer Restaurant</button>
                        }
                        else
                        {
                            <button type="button" class="btn red" onclick="window.location='@Url.Action("Open", "Restaurant")'">Ouvrir Restaurant</button>
                        }
                        <button type="button" class="btn blue" onclick="window.location='@Url.Action("FormUpdate", "Restaurant", new RouteValueDictionary(new { idRestaurant = @Model.RestaurantId }))'">Mettre à jour</button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
   
</div>

