﻿@using GoodBurger.Models.Entities
@using GoodBurger.Models.DAL
@{
    ViewBag.Title = "Restaurant dans votre ville";
    List<RestaurantEntity> AllRestaurant = ViewData["AllRestaurant"] as List<RestaurantEntity>;
    TownDal Dal = new TownDal();
}



<div class="container">
    <h2>@ViewBag.Title</h2>
    @if (!AllRestaurant.Any())
    {
        <div class="alert alert-info" role="alert">
            <strong> Pas de restaurant dans cette vie pour le moment :D </strong>
        </div>
    }
    else
    {
        <div class="row">
            @foreach (RestaurantEntity Restaurant in AllRestaurant)
            {
            <div class="col s12 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="~/Content/img/burgerresto.jpg">
                    </div>
                    <div class="card-content">
                        <h3 class="text-uppercase">@Restaurant.Name</h3>
                        <p class="">@Restaurant.Address</p>
                        <p class="">@Restaurant.PostalCode</p>
                        <p class="">@Dal.GetCityNameByIdTown(@Restaurant.CurrentIdTown)</p>
                        <p class="">@Restaurant.Email</p>
                        <p class="">@Restaurant.HourMorning</p>
                        <p class="">@Restaurant.HourNight</p>
                    </div>
                    <div class="card-action">
                        @if (@Restaurant.Open == true)
                        {
                            <p>
                                <span class="glyphicon glyphicon-cutlery" style="color:green"><i class="material-icons Medium">lock_open</i></span> Ouvert
                            </p>
                        }
                        else
                        {
                            <p>
                                <span class="glyphicon glyphicon-cutlery" style="color:Red"><i class="material-icons Medium">lock_outline</i></span> Fermé
                            </p>
                        }
                    </div>
                    <div class="card-footer text-muted">
                        <button type="button" class="waves-effect waves-light btn-large BtnLarger" onclick="window.location='@Url.Action("SeeRestaurantInTown", "Restaurant", new RouteValueDictionary(new { idRestaurant = Restaurant.RestaurantId }))'">Voir</button>
                    </div>
                </div>
            </div>

            }
        </div>
    }
</div>


