﻿@model GoodBurger.Models.Entities.RestaurantEntity
@using GoodBurger.Models.Entities
@using GoodBurger.Models.DAL
@{
    ViewBag.Title = "User Home";
    List<BurgerEntity> Burgers = ViewData["Burgers"] as List<BurgerEntity>;
    List<DrinkEntity> Drinks = ViewData["Drinks"] as List<DrinkEntity>;
    List<BurgerLikedUserEntity> BurgerLiked = ViewData["BurgerLiked"] as List<BurgerLikedUserEntity>;
    IngredientDal DalIngredient = new IngredientDal();
    TagDal DalTag = new TagDal();
}
<div class="container">
    <h3>Carte du restaurant : @Model.Name </h3>
    <br />
    <br />
    @if (Model.Open == false)
    {
        <div class="alert alert-danger ">Restaurant fermé pour le moment ! </div>
    }
    <h4>Nos burgers :</h4>
    <hr />
    <div class="row">
        @foreach (BurgerEntity Burger in Burgers)
        {

            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="~/Content/img/burgerresto.jpg">
                    </div>
                    <div class="card-content">
                        <h3 class="text-uppercase">@Burger.Name</h3>
                        <p class="">Prix du burger @Burger.Price €</p>
                    </div>

                    <div class="card-content">
                        <!-- Dropdown Trigger -->
                        <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Liste ingredient</a>
                        @foreach (IngredientInBurgerEntity Ingredient in Burger.IngredientsInBurgers)
                        {
                            <!-- Dropdown Structure -->
                            <ul id='dropdown1' class='dropdown-content'>
                                <li><p>@DalIngredient.GetNameIngredientById(Ingredient.IngredientId)</p></li>
                            </ul>
                        }
                    </div>

                    <div class="card-content">
                        @foreach (TagInBurgerEntity Tag in Burger.TagsInBurgers)
                        {
                            <div class="chip">
                                <span>#@DalTag.GetTagNameByIdTag(Tag.TagId)</span>
                            </div>
                        }
                    </div>
                    <div class="card-action">
                        @if (@Model.Open == true)
                        {
                            <p>
                                <span class="glyphicon glyphicon-cutlery" style="color:green"><i class="material-icons Medium">lock_open</i></span> Ouvert
                            </p>
                        }
                        else
                        {
                            <p>
                                <span class="glyphicon glyphicon-cutlery" style="color:Red"><i class="material-icons Medium">lock_outline</i></span> Fermé
                            </p>
                        }
                    </div>

                    <div class="card-footer text-muted">
                        @if (Burger.Stock == 0 && Model.Open == true)
                        {
                            <div class="alert alert-warning">Plus de stock pour ce burger </div>
                        }
                        @if (Burger.Stock > 0 && Model.Open == true)
                        {
                            <button class="btn blue BtnLarger" type="button" id="command" name="command" onclick="window.location='@Url.Action("Add", "Cart", new RouteValueDictionary(new { idBurger = Burger.BurgerId, idRestaurant = @Model.RestaurantId }))'"> Ajouter au panier </button>
                        }

                        @if (BurgerLiked == null)
                        {
                            <button class="btn BtnLarger" type="button" id="command" name="command" onclick="window.location='@Url.Action("FavorisAdd", "Burger", new RouteValueDictionary(new { idBurger = Burger.BurgerId ,idRestaurant = @Model.RestaurantId }))'"> Ajouter au favoris </button>
                        }
                        else
                        {


                            foreach (BurgerLikedUserEntity BurgerLike in BurgerLiked)
                            {
                                if (Burger.BurgerId == BurgerLike.BurgerId)
                                {
                                    <button class="btn BtnLarger red" type="button" id="command" name="command" onclick="window.location='@Url.Action("FavorisRemove", "Burger", new RouteValueDictionary(new { idBurger = Burger.BurgerId ,idRestaurant = @Model.RestaurantId }))'"> Supprimer des favoris </button>
                                }
                                else
                                {
                                    <button class="btn  BtnLarger purpel" type="button" id="command" name="command" onclick="window.location='@Url.Action("FavorisAdd", "Burger", new RouteValueDictionary(new { idBurger = Burger.BurgerId ,idRestaurant = @Model.RestaurantId }))'"> Ajouter au favoris </button>
                                }

                            }
                        }
                    </div>
                </div>
            </div>

        }
    </div>
    <br />
    <br />

    <hr />
    <div class="row">
        <h4>Nos boissons :</h4>
        @foreach (DrinkEntity Drink in Drinks)
        {


            <div class="col s12 m3">
                <div class="card">
                    <div class="card-image">
                        <h5 class="drinkTitle">@Drink.Name</h5>
                        <img src="~/Content/img/boisson.jpg">
                    </div>
            
                    <div class="card-footer text-muted">
                        @if (Drink.Stock == 0 && Model.Open == true)
                        {
                            <div class="alert alert-warning">Plus de stock pour cette boisson </div>
                        }
                        @if (Drinks.Any())
                        {
                            if (Drink.Stock > 0 && Model.Open == true)
                            {
                                <button class="btn BtnLarger" type="button" id="command" name="command" onclick="window.location='@Url.Action("Add", "Cart", new RouteValueDictionary(new { idDrink = @Drink.DrinkId, idRestaurant = Model.RestaurantId }))'"> Ajouter au panier </button>
                            }
                        }

                    </div>
                </div>
            </div>
        }

    </div>
</div>
