﻿@using GoodBurger.Models.Entities
@using GoodBurger.Models.DAL
@{
    ViewBag.Title = "Mon panier";
    List<DrinkEntity> Drinks = ViewData["Drinks"] as List<DrinkEntity>;
    List<BurgerEntity> Burgers = ViewData["Burgers"] as List<BurgerEntity>;
    DrinkDal DalDrink = new DrinkDal();
    BurgerDal DalBurger = new BurgerDal();
    IngredientDal DalIngredient = new IngredientDal();
}

<div class="container">
    <h1>@ViewBag.Title</h1>
    <br />
    @if (Drinks == null && Burgers == null)
    {
        <div class="alert alert-info">
            Voir panier est vide !
            Aller vite commander :D !!!!
        </div>
    }

    @if (Burgers != null)
    {
        <div class="row">
            @foreach (BurgerEntity Burger in Burgers)
            {
            <div class="col s12 m2">
                <div class="card white">
                    <div class="card-content black-text">
                        <span class="card-title">@Burger.Name</span>
                        @foreach (IngredientInBurgerEntity Ingredient in Burger.IngredientsInBurgers)
                        {
                            <p>@DalIngredient.GetNameIngredientById(@Ingredient.IngredientId)</p>
                        }
                    </div>
                    <div class="card-action">
                        <p class="black-text" name="price"> @Burger.Price €</p>
                    </div>
                    <div class="card-footer text-muted">
                        <button type="button" class="btn BtnLarger red" onclick="window.location='@Url.Action("Remove", "Cart", new RouteValueDictionary(new { Burgerid = @Burger.BurgerId,idRestaurant = Burger.CurrentIdRestaurant }))'">Supprimer</button>
                    </div>
                </div>
            </div>
            }
        </div>
    }

    @if (Drinks != null)
    {
        <div class="row">
            @foreach (DrinkEntity Drink in Drinks)
            {

                <div class="col s12 m2">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">@Drink.Name</span>
                            <p>@Drink.QuantityCentiliter cl</p>
                        </div>
                        <div class="card-action">
                            <p class="price-color" name="price"> @Drink.Price €</p>
                        </div>
                        <div class="card-footer text-muted">
                            <button type="button" class="btn BtnLarger red" onclick="window.location='@Url.Action("Remove", "Cart", new RouteValueDictionary(new { Burgerid = @Drink.DrinkId,idRestaurant = Drink.CurrentIdRestaurant }))'">Supprimer</button>
                        </div>
                    </div>
                </div>
            }
        </div>

    }

    <br />
    @if (Drinks != null || Burgers != null)
    {
        <p id="sum"></p>
        <button type="button" class="btn blue BtnLarger" onclick="window.location='@Url.Action("ValidCart", "Cart")'">Valider panier</button>

    }


</div>
<script>
    var myElement = document.getElementsByName("price");
    var taille = myElement.length;
    var sum = 0;
    for (var i = 0; i < taille; i++) {
        sum += parseInt(myElement[i].innerHTML);
    }
    var euro = "€"
    document.getElementById("sum").innerHTML = "Total de la commande" +" "+ sum +" "+ euro;


</script>