body {
    padding:0;
    margin:0;
    background-color:#fff;
}

html {
    background-color: #333;
}

h1{
    padding:0px;
    margin:0px;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

form, fieldset {
    margin-bottom: 20px;
}

.container, .container-max {
    padding-bottom: 20px;
}

.cityImg {
    width: 250px;
    height: 250px;
}

/* definition of image size */
#footer {
    background-color: #333;
    text-align: center !important;
    padding: 50px;
    color: white;
    height: 100%;
}

.iconBurger {
    width: 400px;
    height: 400px;
    margin-top: 20px;
}


/*logo design*/

.go {
    color: #f9b84e;

}
.od {
    color: #a7dd73;

}

.bu {
    color: #7c4e3d;

}
.rg {
    color: #e15d24;

}
.er {
    color: #f9b84e;
    
}

.go, .od, .bu, .rg, .er {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.HomeSizeIcon {
    font-size: 56px;
}

a:hover {
    cursor: pointer;
}

.nav-wrapper{
    background-color : #333;
    padding-left:20px;
    padding-right:20px;

}

.BtnLarger {
    width: 100%;
}

.drinkTitle{
    padding:15px;
}

.price-color{
    color:#333;
}

