﻿@using GoodBurger.Models.Entities
@using GoodBurger.Models.DAL
@{
    List<OrderEntity> Orders = ViewData["Orders"] as List<OrderEntity>;
    BurgerDal DalBurger = new BurgerDal();
    DrinkDal DalDrink = new DrinkDal();
    RestaurantDal DalRestaurant = new RestaurantDal();
    float sum = 0;
    string pdf = ".pdf";
}

<div class="container ">
    <h2>Historique des commandes</h2>

    @if (Orders.Count != 0)
    {
    <div class="row">
        @foreach (OrderEntity Order in Orders)
        {

        <div class="col s12 m12 ">
            <div class="card">
                <div class="card-content">
                    <h3>@DalRestaurant.GetRestaurantById(@Order.CurrentRestaurantId).Name </h3>
                    <h5>Date de la commande : @Order.DateOrder</h5>
                    <h5>Total de la commande : @Order.SumOrder €</h5>
                </div>
                <div class="card-content">
                    @foreach (BurgerInOrderEntity burgerOrder in Order.BurgersInOrders)
                    {
                        <P>
                            @DalBurger.GetBurgerById(burgerOrder.BurgerId).Name
                            X @burgerOrder.Quantity
                        </P>

                        <p name="price">@DalBurger.GetBurgerById(burgerOrder.BurgerId).Price €</p>
                    }
                </div>
                <div class="card-content">
                    @foreach (BurgerInOrderEntity burgerOrder in Order.BurgersInOrders)
                    {
                        <p>
                            @DalBurger.GetBurgerById(burgerOrder.BurgerId).Name
                            X @burgerOrder.Quantity
                        </p>
                        <p name="price">@DalBurger.GetBurgerById(burgerOrder.BurgerId).Price €</p>

                    }
                </div>
                <a href="~/Content/pdf/@Order.OrderId@pdf" class="btn blue BtnLarger" download>Facture PDF </a>
            </div>
        </div>
        }
    </div>
    }
    else
    {
    <div class="card-panel teal lighten-2">
        <p>Vous n'avez pas fait de commande encore ! Aller vite commander :D !!!!</p>
    </div>
    }

</div>

