﻿@using GoodBurger.Models.Entities
@using GoodBurger.Models.DAL
@{
    ViewBag.Title = "Toutes vos commandes";
    List<OrderEntity> Orders = ViewData["Orders"] as List<OrderEntity>;
    UserDal Daluser = new UserDal();
    BurgerDal DalBurger = new BurgerDal();
    DrinkDal DalDrink = new DrinkDal();
    int nbOrder = Orders.Count+1;
   
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    <h4 class="text-success">Nombre de commande : @Orders.Count</h4>
    @if (Orders == null)
    {
        <div class="alert alert-info"> Pas de commande !</div>
    }
    else
    {
        foreach (OrderEntity Order in Orders)
        {
            <p class="list-group-item-text text-info">  Commande N ° : @(--nbOrder)</p>
            <br />
            <p class="list-group-item-text text-info">@Order.DateOrder</p>
            <div>
                <p class="list-group-item-text text-info">Nom client : @Daluser.GetUserById(Order.CurrentUserId).LastName</p>
                <p class="list-group-item-text text-info">Prénom client : @Daluser.GetUserById(Order.CurrentUserId).FirstName</p>
                <p class="list-group-item-text text-info">Mail client : @Daluser.GetUserById(Order.CurrentUserId).Email</p>
                <h4>Contenu de la commande</h4>
                @foreach (BurgerInOrderEntity Burger in Order.BurgersInOrders)
                {
                    <p class="list-group-item-text text-info">Burger : @DalBurger.GetBurgerById(Burger.BurgerId).Name</p>
                    <p class="list-group-item-text text-info">Nombre de burger : @Burger.Quantity</p>
                }

                @foreach (DrinksInOrdersEntity Drink in Order.DrinksInOrders)
                {
                    <p class="list-group-item-text text-info">Boisson : @DalDrink.GetDrinkById(Drink.DrinkId).Name</p>
                    <p class="list-group-item-text text-info">Nombre de boisson : @Drink.Quantity</p>
                }
                <p class="list-group-item-text text-info">Total commande : @Order.SumOrder €</p>
            </div>
        }
    }
</div>