﻿@model GoodBurger.Models.Entities.IngredientEntity
@{
    ViewBag.Title = "Ajouter un ingrédient";
}
<div class="container">
    <h2>@ViewBag.Title </h2>
    @using (Html.BeginForm("Add", "Ingredient", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                  
                        @Html.Label("Nom")
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", Type = "text" })
                    </div>

                    <div class="input-field col s12">
                    
                        @Html.Label("Type ingrédient")
                        @Html.TextBoxFor(m => m.TypeIngredient, new { @class = "form-control", Type = "text" })
                    </div>

                    <div class="input-field col s12">
                   
                        @Html.Label("Quantité en gramme")
                        @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control", Type = "number" })
                    </div>


                    <button type="submit" class="btn  blue">Valider</button>
                    <button type="button" class="btn  red" onclick="window.location='@Url.Action("Index", "Ingredient")'">Annuler</button>

                </div>
            </div>
        </div>
    }
</div>




