﻿@using GoodBurger.Models.Entities
@{
    ViewBag.Title = "Manager Ingredient";
    List<IngredientEntity> AllIngredients = ViewData["AllIngredients"] as List<IngredientEntity>;
}
<div class="container">
    <h2>@ViewBag.Title</h2>
    <div>
        <button type="button" class="btn btn-default" onclick="window.location='@Url.Action("FormAddIngredient", "Ingredient")'">Ajouter un ingredient</button>
    </div>
    <br />
    @if (!AllIngredients.Any())
    {
        <div class="alert alert-warning" role="alert">
            <strong>Pas ingredient enregistré</strong>
        </div>
    }
    else
    {

<table>
    <thead>
    <tr>
        <th>Nom</th>
        <th>Type ingrédient</th>
        <th>Quantité</th>
        <th>Gestion</th>
    </tr>
    </thead>


    @foreach (IngredientEntity ingredient in AllIngredients)
    {
    <tbody>
        <tr>
        <td>@ingredient.Name</td>
        <td>@ingredient.TypeIngredient</td>
        <td>@ingredient.Quantity grammes</td>
        <td>
        <button type="button" class="btn  red" onclick="window.location='@Url.Action("Remove", "Ingredient", new RouteValueDictionary(new { IngredientId = ingredient.IngredientId }))'">Supprimer</button>
        <button type="button" class="btn  blue" onclick="window.location='@Url.Action("FormUpdateIngredient", "Ingredient", new RouteValueDictionary(new { IngredientId = ingredient.IngredientId }))'">Modifier</button>
        </td>
        </tr>
    </tbody>

    }
</table>
   
    }
</div>