﻿@model System.Collections.Generic.List<IngredientEntity>
@using GoodBurger.Models.Entities
@{
    List<IngredientEntity> AllIngredients = ViewData["AllIngredients"] as List<IngredientEntity>;
}

<div class="list-group ">

    <fieldset>
        <legend>Choisir les ingredients des du votre burger :</legend>
        @foreach (IngredientEntity ingredient in AllIngredients)
        {
            <div>
                <label>
                    <input type="checkbox" id="ingredient" name="Ingredients[]" value="@ingredient.IngredientId">
                    <span>@ingredient.Name @ingredient.Quantity g</span>
                </label>
            </div>
        }
    </fieldset>
</div>
